<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body background = "https://i.imgur.com/22OpSU1.jpg"
		      link="#FF0000"
	              alink="#FF0000"
	              vlink="#FF0000">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://www.google.com/">About</a></li>
	        		<li><a href="/cv.html">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:vishnu_lahari@yahoo.com">Email</a></li>
	        		<li><a href="https://github.com/Lahari-5139">Github Profile</a></li>
				<li><a href="https://www.linkedin.com/in/vishnu-lahari-870709152/">LinkedIn Profile</a></li>
				</ul>
			</footer>
		</body>
	</html>
